################################################################################
# GITIGNORE
# repository is place for source code not for binaries if you need to include
# binaries in repository then consider appropriate values .gitattributes
################################################################################

################################################################################
# FILES to ignore
################################################################################
*~
**/.DS_Store
**/*.sw[mnop]
**/coverage.*
import.sh
.env
sdk/internal/cmd/hsdk/hsdk

################################################################################
# DIRECTORIES to ignore
################################################################################
**/[Tt]mp/*
**/[Bb]in/*
dist/

################################################################################
# exception rules and final override
################################################################################

################################################################################
!**/*.gitkeep
!**/*go.mod
