go 1.24.4

use (
	.
	./lib/taskrunner
	./pkg/branding
	./pkg/devel/bug
	./pkg/devel/goutils
	./pkg/devel/testutils
	./pkg/fsutils
	./pkg/i18n
	./pkg/logging
	./pkg/logging/adapters/console
	./pkg/networking
	./pkg/options
	./pkg/scheduling/cron
	./pkg/settings
	./pkg/strings/bexp
	./pkg/strings/humanize
	./pkg/strings/slug
	./pkg/strings/textfmt
	./pkg/tui
	./pkg/vars
	./pkg/version
)
