################################################################################
# GITIGNORE
# repository is place for source code not for binaries if you need to include
# binaries in repository then consider appropriate values .gitattributes
################################################################################

################################################################################
# DIRECTORIES to ignore
################################################################################
**/[Tt]mp/*
**/[Bb]in/*
local/*

################################################################################
# FILES to ignore
################################################################################
*~
**/.DS_Store
**/.thumbs.db
**/*.sw[mnop]
*.local
*.cache
.env

################################################################################
# Editor directories and files
################################################################################
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

################################################################################
# exception rules
################################################################################
!**/*.gitkeep
!**/*README.md
