################################################################################
# GITIGNORE
# repository is place for source code not for binaries if you need to include
# binaries in repository then consider appropriate values .gitattributes
################################################################################

################################################################################
# FILES to ignore
################################################################################
*~
**/*.sw[mnop]


################################################################################
# DIRECTORIES to ignore
################################################################################

################################################################################
# exception rules
################################################################################
!**/*.gitkeep
!**/*go.mod
!**/*README.md
