################################################################################
# GITIGNORE
# repository is place for source code not for binaries if you need to include
# binaries in repository then consider appropriate values .gitattributes
################################################################################

################################################################################
# DIRECTORIES to ignore
################################################################################
**/[Tt]mp/*
dist

################################################################################
# FILES to ignore
################################################################################
*~
**/.DS_Store
**/*.sw[mnop]
covprofile
.env

################################################################################
# Editor directories and files
################################################################################
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

################################################################################
# exception rules and final override
################################################################################

################################################################################
!**/*.gitkeep
