################################################################################
# GITIGNORE
# repository is place for source code not for binaries if you need to include
# binaries in repository then consider appropriate values .gitattributes
################################################################################

################################################################################
# FILES to ignore
################################################################################
*~
**/*.sw[mnop]
.env

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of e.g go coverage tool or other maintenance commands.
*.out

# so that git would keep placeholder directory
!**/*.dirkeep
# so that go embed would include the dir
!**/**/goembed
!**/*go.mod
