# https://git-scm.com/docs/gitattributes
#
# A gitattributes file is a simple text file that gives attributes to path names
# Each line in gitattributes file is of form: pattern attr1 attr2 ...
# That is, a pattern followed by an attributes list, separated by white spaces.
# When the pattern matches the path in question, the attributes listed on the
# line are given to the path. Each attribute can be in one of these states for a
# given path:

################################################################################
# DEFAULTS
################################################################################
* text=auto
* eol=lf

################################################################################
# TEXT:
# Ensure that the following files, and file name patterns are treated correctly
################################################################################
.editorconfig text
.gitattributes text
.gitignore text
.md text
LICENSE text

################################################################################
# OTHER RULES
# Avoid creation of unnecessary big commit objects. For these files we do not
# want to see text diff for
################################################################################
**/testdata/** binary
